<template id="x-voting">
    <style>
    .popover {
        display: inline-block;
        position: relative;
        text-rendering: optimizeLegibility;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    }

    .popover .popover-container {
        content: attr(data-tooltip);
        left: 50%;
        opacity: 0;
        padding: .4rem;
        position: absolute;
        top: 0;
        transform: translate(-50%, -50%) scale(0);
        transition: transform .2s ease;
        width: 320px;
        z-index: 400;
    }

    .popover:focus + .popover-container,
    .popover:hover .popover-container,
    .popover .popover-container:hover {
        display: block;
        opacity: 1;
        transform: translate(-50%, -100%) scale(1);
    }

    .popover.popover-bottom .popover-container {
        left: 50%;
        top: 100%;
    }

    .popover.popover-bottom:focus + .popover-container,
    .popover.popover-bottom:hover .popover-container,
    .popover.popover-bottom .popover-container:hover {
        transform: translate(-50%, 0) scale(1);
    }

    .popover .card {
        border: 0;
        box-shadow: 0 0.2rem 0.5rem rgba(69, 77, 93, .3);
    }

    .card {
        background: #fff;
        border: .05rem solid #ccc;
        border-radius: .1rem;
        display: flex;
        flex-direction: column;
    }

    .card .card-header, .card .card-body, .card .card-footer {
        padding: .2vmax;
    }

    .circled {    
        appearance: none;
        border-radius: 50%;        
        cursor: pointer;
        display: inline-block;
        font-size: 1vmax;
        outline: none;
        padding: .35vmax;
        text-align: center;
        text-decoration: none;
        transition: all .2s ease;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;  
        font-weight: bold;
        min-height: 1vmax;
        min-width: 1vmax;
        color: #fff;   
    }

    .vote {
        min-height: 1vmax;
        min-width: 1vmax;
    }

    .good {
        background: #009933;
        border: 2px solid #009933;
    }

    .good:hover {
        background: #66c184;
    }

    .average {
        background: #FFC510;
        border: 2px solid #FFC510;
    }

    .average:hover {
        background: #ffdc6f;
    }

    .bad {
        background: #ee2f39;
        border: 2px solid #ee2f39;
    }

    .bad:hover {
       background: #F25E66;
    }

    .glow {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
    }
</style>
    <div class="popover popover-bottom">
        <span class="circled rate"></span>
        <div class="popover-container">
            <div class="card">
                <div class="card-header">
                    <div class="card-subtitle">How would you rate this product?</div>
                </div>
                <div class="card-body">
                    <span class="circled vote bad" data-value="bad"></span>
                    <span class="circled vote average" data-value="average"></span>
                    <span class="circled vote good" data-value="good"></span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

customElements.define('x-voting', class extends HTMLElement {
    static get observedAttributes() { return ['product-id', 'rate', 'url']; } // TODO

    constructor() {
        super(); // Always call super first in constructor
        this.initShadowDom();
        this.initEventListeners();
    }

    initShadowDom() {
        let shadowRoot = this.attachShadow({mode: 'open'});
        shadowRoot.appendChild(this.template.content.cloneNode(true));
    }

    initEventListeners(){
        let that = this;
        let elements = this.shadowRoot.querySelectorAll('.vote');
        elements.forEach(function(elem) {
            elem.addEventListener('click', function(e){
                let previousRate = that.rate;
                let vote = that.vote(e.target.getAttribute('data-value'));
                that.sendVote(vote, previousRate);
            });
        });
    }

    connectedCallback() {
        console.log(`Connected: ${this.productId}, ${this.rate}, ${this.connect}`);
        this.paintRate(this.rate);
        if(this.connect){
            this.connectWS();
        }        
    }

    connectWS(){
        let that = this;
        let url = "ws://localhost:8000"
        
        if(this.ws != undefined){
            this.ws.close();
        }

        let connection = new WebSocket(url);

        connection.addEventListener('open', function(){
            connection.send("Ping!");
        });

        connection.addEventListener('error', function(error){
            console.log('WebSocket Error ' + error);
            that.rate = that.previousRate;
        });

        connection.addEventListener('message', function(e){
            that.rate = e.data;
        });

        this.ws = connection;
    }

    set connect(shouldConnect){
        let value = false;
        if (shouldConnect){
            value = true;
        }
        this.setAttribute('connect', value);
    }

    get connect(){
        return this.getAttribute('connect');
    }

    set productId(productId){
        if (productId == undefined){
            throw "The product-id attribute is mandatory"
        }
        this.setAttribute('product-id', productId);
    }

    get rate(){
        return this.getAttribute('rate');
    }

    set rate(rate){
        this.setAttribute('rate', rate);
        this.paintRate(rate);
        this.notify(rate);
    }

    get template() {   
        let thisDoc = (document._currentScript || document.currentScript).ownerDocument;     
        return thisDoc.querySelector('#x-voting')
    }  

    updateRate(vote=0){
        this.rate = (Number(this.rate) + Number(vote));        
    }  

    paintRate(rate=0){
        let element = this.shadowRoot.querySelector('.rate');
        let classes = element.classList || "";

        if(rate >= 60){
            element.classList.remove('average');
            element.classList.remove('bad');
            element.classList.add("good");
        } else if(rate >= 40) {
            element.classList.remove('good');
            element.classList.remove('bad');
            element.classList.add("average");
        } else {
            element.classList.remove('average');
            element.classList.remove('good');
            element.classList.add("bad");
        }

        element.classList.add('glow');

        window.setTimeout(function(){
            element.classList.remove('glow');
        }, 250);
        element.innerHTML = rate;
    }

    vote(value){
        console.log(`voting: ${value}`)
        let data = 1;
        switch(value.toLowerCase()){
            case 'average': 
                data = 0;
                break;
            case 'bad': 
                data = -1;
                break;
        }
        return data;
    }

    notify(rate){
        console.log(`Notifiying rate: ${rate}`)
        let event = new CustomEvent('x-voting-rate', { detail: rate });
        this.shadowRoot.dispatchEvent(event);
    }

    sendVote(vote, previousRate){
        if(this.connect){
            try{
            this.ws.send(vote);            
        } catch(e){
            this.rate = previousRate;
        } 
        }               
    }
});
</script>